*.ex4
/HIS/*
/config/*
/files/*
/presets/*
/logs/*
/templates/*
mqlcache.dat
*.log
*.orig
/scripts/lparams.txt
/dlls/*/*/*.pdb
/dlls/*/*/*.obj
/dlls/*/*/*.idb
/dlls/*/*/*.exp
/dlls/*/*/*.ilk
/dlls/*/*/*.lib
/dlls/*/*/*.dll
/dlls/*/*.plg
/dlls/*/*.opt
/dlls/*/*.ncb






